form{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
input[type=text]{
    width: 98%;
    height: 50px;
    font-size: 25px;
    direction: ltr;
    margin-bottom: 5px;
}
input[type=text]:focus{
    outline: 0;
}
button{
    width:24.2%;
    height: 25px;
    margin-bottom: 4px;
    border: 0;
    font-size: 17px;
    line-height: 25px;
}
button:hover{
    background-color: lightgray;
}
button:nth-of-type(1),
button:nth-of-type(2),
button:nth-of-type(3),
button:nth-of-type(4){
background-color: darkorange;
}
button:nth-of-type(1):hover,
button:nth-of-type(2):hover,
button:nth-of-type(3):hover,
button:nth-of-type(4):hover{
background-color: darkgoldenrod;
}
button:nth-last-child(2){
    background-color: rgb(0, 158, 0);
    color: white;
}
button:nth-last-child(2):hover{
    background-color: darkgreen;
}
button:last-child{
width: 100%;
background-color: red;
color: white;
border: 0;
}
button:last-child:hover{
    background-color: firebrick;
}
